/* Global resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

input {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
}

h1, h2, h3, p {
  margin: 0;
}
